/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/bootstrap/cache
/storage/*.key
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml

# node's log
npm-debug.log
yarn-error.log

# npm
/node_modules

#php composer
/vendor
