/application/node_modules
/application/public/hot
/application/public/storage
/application/public/js/app.js
/application/public/css/app.css
/application/storage/*.key
/application/vendor
/application/.phpunit.result.cache
/application/Homestead.json
/application/Homestead.yaml
/application/npm-debug.log
/application/yarn-error.log
/infrastructure/.env

.idea
