
.container-sm {
	max-width: 800px;
}

h1 {
	font-size: 1.4rem
}
h2 {
	font-size: 1.3rem
}
h3 {
	font-size: 1.2rem
}
h4 {
	font-size: 1.1rem
}
h5 {
	font-size: 1.05rem
}

.btn.btn-primary {
	background: #2532ffab;
	border: none;
}

.btn-primary:focus, .btn-primary.focus {
	color: #fff;
	background-color: #5a35aa;
	border-color: #0062cc;
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary:hover {
	color: #fff;
	background-color: #7358d5;
	border-color: #0062cc;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #5300cc;
	border-color: #005cbf;
}

.concept-footer-button {
    background: none;
    border: none;
}

.card-header {
    background-color: rgba(255, 255, 255, 0.03);
}

.card-footer {
    background-color: rgba(255, 255, 255, 0.03);
    text-align: right;
}

.concept-color-5 {
    border-bottom-width: 10px;
    border-bottom-color: #9788ff;
}

.concept-color-4 {
    border-bottom-width: 10px;
    border-bottom-color: #88ffe3
}

.concept-color-3 {
    border-bottom-width: 10px;
    border-bottom-color: #a2ff88;
}

.concept-color-2 {
    border-bottom-width: 10px;
    border-bottom-color: #ffd688;
}

.concept-color-1 {
    border-bottom-width: 10px;
    border-bottom-color: #ff9494;
}
