.container-sm {
    max-width: 800px;
}

h1 {
    font-size: 1.4rem
}

h2 {
    font-size: 1.3rem;
    border-left: #7358d5;
    border-left-width: 7px;
    border-left-style: solid;
    padding-left: 10px;
    color: #5b5b5b;
}

h3 {
    font-size: 1.2rem
}

h4 {
    font-size: 1.1rem
}

h5 {
    font-size: 1.05rem
}

/*Button*/
.btn.btn-primary {
    background: #2532ffab;
    border: none;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #5a35aa;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary:hover {
    color: #fff;
    background-color: #7358d5;
    border-color: #0062cc;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #5300cc;
    border-color: #005cbf;
}

/*Front*/
.section-name {
    color: #555;
}

/*ConceptFooterButton*/
.concept-footer-button {
    background: none;
    border: none;
}

/*ConceptCard*/
.card-header {
    background-color: rgba(255, 255, 255, 0.03);
}

.card-footer {
    background-color: rgba(255, 255, 255, 0.03);
    text-align: right;
}

/*ConceptColor*/
.concept-color-5 {
    border-bottom-width: 10px;
    border-bottom-color: #9788ff;
}

.concept-color-4 {
    border-bottom-width: 10px;
    border-bottom-color: #88ffe3
}

.concept-color-3 {
    border-bottom-width: 10px;
    border-bottom-color: #a2ff88;
}

.concept-color-2 {
    border-bottom-width: 10px;
    border-bottom-color: #ffd688;
}

.concept-color-1 {
    border-bottom-width: 10px;
    border-bottom-color: #ff9494;
}

/*link*/
.link {
    color: black;
    text-decoration: none !important;
}

.link:hover {
    color: #626262;
}

/*ConceptFrameFooter*/
.concept-footer-stats-name {
    font-size: 0.7em
}

.concept-footer-stats-value {
    font-size: 0.9em
}

.concept-footer-stats-unit {
    font-size: 0.8em
}

/*ConceptRegister*/
.similarity-name {
    color: #7b7b7b;
    font-size: 0.8rem;
}

.similarity-content {
    color: #7b7b7b;
    font-size: 0.75rem;
}

.base-concept-name {
    font-size: 0.95rem;
    margin-bottom: 3px;
}

.base-concept-content {
    font-size: 0.8rem;
}

.layer-button {
    font-size: 0.64rem
}

/*Cover*/
.hr-5 {
    background: #9788ff;
    height: 5px;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.hr-4 {
    background: #88ffe3;
    height: 5px;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.hr-3 {
    background: #a2ff88;
    height: 5px;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.hr-2 {
    background: #ffd688;
    height: 5px;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.hr-1 {
    background: #ff9494;
    height: 5px;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.cover-footer-stats-name {
    font-size: 0.7rem
}

.cover-footer-stats-value {
    font-size: 0.9rem
}

.cover-footer-stats-unit {
    font-size: 0.8rem
}

/*Document*/
.document-menu {
    font-size: 0.95rem;
}

.document-shadow {
    background: #f2f2f2;
    padding: 10px;
    font-size: 0.9rem;
}

.document-table {
  font-size: 0.9rem;
}

/*MyPage*/
.mypage-menu {
    font-size: 0.95rem;
}

/*Channel*/
.channel-section {
    color: #434444;
    font-size: 0.9rem;
    margin-top: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    border-bottom-color: #eaeaea;
}

.channel-link {
    color: #5a6882;
    text-decoration: none;
}
